---
---
<div class="contact">
                <a title="E-mail-link" href="Stevenmc2015@hotmail.com" target="_blank"><img title="mail-icon" src="/img/Mail.svg" alt="email-pic" class="contactpic"></a><!--Your email Id write in place of "#"-->
                <a title="Tel-link" href="Tel:#+1(849)751-1849" target="_blank"><img title="call-icon" src="/img/call-icon.svg" alt="phone-pic" class="contactpic"></a><!--Your telephone number Id write in place of "#"-->
                    </div>  