---
---
<!--Social Media Links-->
            </span><div class="social-media-links">
                <a title="Instagram-link" href="https://www.instagram.com/steve_moya_cepeda/" target="_blank"><img title="instagram-icon" src="/img/instagram-icon.svg" class="social-media" alt="instagram-logo"></a> <!--instagram -->
                <a title="Facebook-link" href="https://www.facebook.com/steven.cepeda.35/" target="_blank"><img title="facebook-icon" src="/img/facebook-icon.svg" class="social-media" alt="facebook-logo"></a>
                <a title="Linkedin-link" href="https://www.linkedin.com/in/steve-moya-cepeda-549469227/" target="_blank"><img title="linkedin-icon" src="/img/linkedin-icon.svg" class="social-media" alt="linkedin-logo"></a> 
                <a title="Github-link" href="https://github.com/SteveMoya" target="_blank"><img title="github-icon" src="/img/github-icon.svg" class="social-media" alt="github-logo"></a> 
            </div>
            <!--Social Media Links end-->