---
import Layout from '@src/layouts/Layout.astro'
import Blog from '@components/Blog/Blog.astro'
import { getPosts } from '@src/utils'
import TitlePage from '@components/TitlePage.astro'
import ListCategories from '@components/ListCategories.astro'
import ListPosts from '@components/ListPosts.astro'
import Header from '@components/Header.astro'

const MAX_POSTS = 5 // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS)
---

<Layout
	title="Blog - Steve Moya Cepeda"
	description="Este en mi blog donde podrar leer, mis articulos mas destacados"
	image="images/marketing4.0-v.webp"
>
<Header title='Mis mas recientes' titleCaption='Blogs' description="Aqui puedes ver los los Articulos mas recientes de mi" descriptionCaption="Blog" />
	<ListCategories />
	<div>
		<h2 class="text-end text-lg font-medium tracking-wide">Los mas recientes</h2>
		<ListPosts FirstBig={true} posts={posts} />
	</div>

	<!-- <Blog /> -->
</Layout>
<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
