---
import SocialLinks from "../SocialLinks/SocialLinks.astro";

---
<div id="header">
	<div id="particles"></div>
	<!--Social Media Links-->
    <SocialLinks />
<!--Social Media Links end-->
<div class="header-content">
	<div class="header-content-box">
		<h1 class="firstline"><span class="color">Steve</span>Moya</h1>
		<div class="secondline">
			Soy
			<span
				class="txt-rotate color"
				data-period="1200"
				data-rotate='[ " Diseñador.", " Fotógrafo.", " Marketer." ]'></span>
			<span class="slash">|</span>
		</div>
		<div class="contact">
			<a title="E-mail-link" href="Stevenmc2015@hotmail.com" target="_blank"
				><img title="mail-icon" src="images/Mail.svg" alt="email-pic" class="contactpic" /></a
			><!--Your email Id write in place of "#"-->
			<a title="Tel-link" href="Tel:#+1(849)751-1849" target="_blank"
				><img title="call-icon" src="images/call-icon.svg" alt="phone-pic" class="contactpic" /></a
			><!--Your telephone number Id write in place of "#"-->
		</div>
	</div>
</div>
<!--header image-->
<div class="header-image">
	<img title="Steve-Moya-Cepeda" src="images/Steve-Moya.webp" alt="Steve-moya" />
</div>
<!--header image end-->

<!--Header End-->
