---
import ContactLinks from "../SocialLinks/ContactLinks.astro";
import SocialLinks from "../SocialLinks/SocialLinks.astro";

---
<!--Header-->
        <div id="header">
            <div id="particles"></div>
              <!--Social Media Links-->
            <SocialLinks />
            <!--Social Media Links end-->
            <div class="header-content">
                <div class="header-content-box">
                <h1 class="firstline"><span class="color">Steve </span>Moya</h1>
                <div class="secondline">
                Soy
            <span class="txt-rotate color" data-period="1200"data-rotate='[ " Diseñador.", " Fotógrafo.", " Marketer." ]'></span>
            <span class="slash">|</span>
        </div>
                    <ContactLinks />  
            </div>
            </div>
            <!--header image-->
            <div class="header-image ">
            <img title="Steve-Moya-Cepeda" src="/img/Steve-Moya.webp" alt="Steve-moya">
            
            </div>
            <!--header image end-->
        </div>
           <!--Header End-->
