<div class="opacity-60">
	<div class="starsec"></div>
	<div class="starthird"></div>
	<div class="starfourth"></div>
	<div class="starfifth"></div>
</div>
<style>
	.starsec {
		content: ' ';
		position: absolute;
		width: 3px;
		height: 3px;
		background: transparent;
		box-shadow:
			571px 173px #eef6f7,
			1732px 143px #eef6f7,
			1745px 454px #c70039,
			234px 784px #eef6f7,
			1793px 1123px #fff,
			1076px 504px #eef6f7,
			633px 601px #c70039,
			350px 630px #c70039,
			1164px 782px #eef6f7,
			76px 690px #eef6f7,
			1825px 701px #fff,
			1646px 578px #c70039,
			544px 293px #fff,
			445px 1061px #c70039,
			928px 47px #eef6f7,
			168px 1410px #c70039,
			777px 782px #dfd5d2,
			1235px 1941px #dfd5d2,
			104px 1690px #c70039,
			1167px 1338px #e91e63,
			345px 1652px #e0dbd3,
			1682px 1196px #f44336,
			1995px 494px #c70039,
			428px 798px #c70039,
			340px 1623px #f44336,
			605px 349px #dfd5d2,
			1339px 1344px #c70039,
			1102px 1745px #eef6f7,
			1592px 1676px #fff,
			419px 1024px #fff,
			630px 1033px #c70039,
			1995px 1644px #eef6f7,
			1092px 712px #dfd5d2,
			1355px 606px #f44336,
			622px 1881px #fff,
			1481px 621px #9e9e9e,
			19px 1348px #c70039,
			864px 1780px #e91e63,
			442px 1136px #fff,
			67px 712px #c70039,
			89px 1406px #f44336,
			275px 321px #e0dbd3,
			592px 630px #e91e63,
			1012px 1690px #dfd5d2,
			1749px 23px #c70039,
			94px 1542px #c70039,
			1201px 1657px #eef6f7,
			1505px 692px #fff,
			1799px 601px #eef6f7,
			656px 811px #eef6f7,
			701px 597px #eef6f7,
			1202px 46px #c70039,
			890px 569px #c70039,
			1613px 813px #fff,
			223px 252px #fff,
			983px 1093px #f44336,
			726px 1029px #ffffff,
			1764px 778px #fff,
			622px 1643px #f44336,
			174px 1559px #c70039,
			212px 517px #eef6f7,
			340px 505px #fff,
			1700px 39px #fff,
			1768px 516px #f44336,
			849px 391px #fff,
			228px 1824px #fff,
			1119px 1680px #ffffff,
			812px 1480px #eef6f7,
			1438px 1585px #fff,
			137px 1397px #fff,
			1080px 456px #c70039,
			1208px 1437px #eef6f7,
			857px 281px #f44336,
			1254px 1306px #fff,
			987px 990px #c70039,
			1655px 911px #eef6f7,
			1102px 1216px #c70039,
			1807px 1044px #fff,
			660px 435px #eef6f7,
			299px 678px #c70039,
			1193px 115px #fff,
			918px 290px #fff,
			1447px 1422px #c70039,
			91px 1273px #dfd5d2,
			108px 223px #c70039,
			146px 754px #eef6f7,
			461px 1446px #c70039,
			1004px 391px #c70039,
			1529px 516px #f44336,
			1206px 845px #fff,
			347px 583px #e0dbd3,
			1102px 1332px #f44336,
			709px 1756px #eef6f7,
			1972px 248px #fff,
			1669px 1344px #c70039,
			1132px 406px #f44336,
			320px 1076px #fff,
			126px 943px #c70039,
			263px 604px #c70039,
			1546px 692px #f44336;
		animation: animStar 150s linear infinite;
	}

	.starthird {
		content: ' ';
		position: absolute;
		width: 3px;
		height: 3px;
		background: transparent;
		box-shadow:
			571px 173px #eef6f7,
			1732px 143px #eef6f7,
			1745px 454px #c70039,
			234px 784px #eef6f7,
			1793px 1123px #fff,
			1076px 504px #eef6f7,
			633px 601px #c70039,
			350px 630px #c70039,
			1164px 782px #eef6f7,
			76px 690px #eef6f7,
			1825px 701px #fff,
			1646px 578px #c70039,
			544px 293px #fff,
			445px 1061px #c70039,
			928px 47px #eef6f7,
			168px 1410px #c70039,
			777px 782px #dfd5d2,
			1235px 1941px #dfd5d2,
			104px 1690px #c70039,
			1167px 1338px #e91e63,
			345px 1652px #e0dbd3,
			1682px 1196px #f44336,
			1995px 494px #c70039,
			428px 798px #c70039,
			340px 1623px #f44336,
			605px 349px #dfd5d2,
			1339px 1344px #c70039,
			1102px 1745px #eef6f7,
			1592px 1676px #fff,
			419px 1024px #fff,
			630px 1033px #c70039,
			1995px 1644px #eef6f7,
			1092px 712px #dfd5d2,
			1355px 606px #f44336,
			622px 1881px #fff,
			1481px 621px #9e9e9e,
			19px 1348px #c70039,
			864px 1780px #e91e63,
			442px 1136px #fff,
			67px 712px #c70039,
			89px 1406px #f44336,
			275px 321px #e0dbd3,
			592px 630px #e91e63,
			1012px 1690px #dfd5d2,
			1749px 23px #c70039,
			94px 1542px #c70039,
			1201px 1657px #eef6f7,
			1505px 692px #fff,
			1799px 601px #eef6f7,
			656px 811px #eef6f7,
			701px 597px #eef6f7,
			1202px 46px #c70039,
			890px 569px #c70039,
			1613px 813px #fff,
			223px 252px #fff,
			983px 1093px #f44336,
			726px 1029px #ffffff,
			1764px 778px #fff,
			622px 1643px #f44336,
			174px 1559px #c70039,
			212px 517px #eef6f7,
			340px 505px #fff,
			1700px 39px #fff,
			1768px 516px #f44336,
			849px 391px #fff,
			228px 1824px #fff,
			1119px 1680px #ffffff,
			812px 1480px #eef6f7,
			1438px 1585px #fff,
			137px 1397px #fff,
			1080px 456px #c70039,
			108px 223px #c70039,
			146px 754px #eef6f7,
			461px 1446px #c70039,
			1004px 391px #c70039,
			1529px 516px #f44336,
			1206px 845px #fff,
			347px 583px #e0dbd3,
			1102px 1332px #f44336,
			709px 1756px #eef6f7,
			1972px 248px #fff,
			1669px 1344px #c70039,
			1132px 406px #f44336,
			320px 1076px #fff,
			126px 943px #c70039,
			263px 604px #c70039,
			1546px 692px #f44336;
		animation: animStar 10s linear infinite;
	}

	.starfourth {
		content: ' ';
		position: absolute;
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow:
			571px 173px #eef6f7,
			1732px 143px #eef6f7,
			1745px 454px #c70039,
			234px 784px #eef6f7,
			1793px 1123px #fff,
			1076px 504px #eef6f7,
			633px 601px #c70039,
			350px 630px #c70039,
			1164px 782px #eef6f7,
			76px 690px #eef6f7,
			1825px 701px #fff,
			1646px 578px #c70039,
			544px 293px #fff,
			445px 1061px #c70039,
			928px 47px #eef6f7,
			168px 1410px #c70039,
			777px 782px #dfd5d2,
			1235px 1941px #dfd5d2,
			104px 1690px #c70039,
			1167px 1338px #e91e63,
			345px 1652px #e0dbd3,
			1682px 1196px #f44336,
			1995px 494px #c70039,
			428px 798px #c70039,
			340px 1623px #f44336,
			605px 349px #dfd5d2,
			1339px 1344px #c70039,
			1102px 1745px #eef6f7,
			1592px 1676px #fff,
			419px 1024px #fff,
			630px 1033px #c70039,
			1995px 1644px #eef6f7,
			1092px 712px #dfd5d2,
			1355px 606px #f44336,
			622px 1881px #fff,
			1481px 621px #9e9e9e,
			19px 1348px #c70039,
			864px 1780px #e91e63,
			442px 1136px #fff,
			67px 712px #c70039,
			89px 1406px #f44336,
			275px 321px #e0dbd3,
			592px 630px #e91e63,
			1012px 1690px #dfd5d2,
			1749px 23px #c70039,
			94px 1542px #c70039,
			1201px 1657px #eef6f7,
			1505px 692px #fff,
			1799px 601px #eef6f7,
			656px 811px #eef6f7,
			701px 597px #eef6f7,
			1202px 46px #c70039,
			890px 569px #c70039,
			1613px 813px #fff,
			223px 252px #fff,
			983px 1093px #f44336,
			726px 1029px #ffffff,
			1764px 778px #fff,
			622px 1643px #f44336,
			174px 1559px #c70039,
			212px 517px #eef6f7,
			340px 505px #fff,
			1700px 39px #fff,
			1768px 516px #f44336,
			849px 391px #fff,
			228px 1824px #fff,
			1119px 1680px #ffffff,
			812px 1480px #eef6f7,
			1438px 1585px #fff,
			137px 1397px #fff,
			1080px 456px #c70039,
			1208px 1437px #eef6f7,
			857px 281px #f44336,
			1254px 1306px #fff,
			987px 990px #c70039,
			1655px 911px #eef6f7,
			1102px 1216px #c70039,
			1807px 1044px #fff,
			660px 435px #eef6f7,
			299px 678px #c70039,
			1193px 115px #fff,
			918px 290px #fff,
			1447px 1422px #c70039,
			91px 1273px #dfd5d2,
			108px 223px #c70039,
			146px 754px #eef6f7,
			461px 1446px #c70039,
			1004px 391px #c70039,
			1529px 516px #f44336,
			1206px 845px #fff,
			347px 583px #e0dbd3,
			1102px 1332px #f44336,
			709px 1756px #eef6f7,
			1972px 248px #fff,
			1669px 1344px #c70039,
			1132px 406px #f44336,
			320px 1076px #fff,
			126px 943px #c70039,
			263px 604px #c70039,
			1546px 692px #f44336;
		animation: animStar 50s linear infinite;
	}

	.starfifth {
		content: ' ';
		position: absolute;
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow:
			571px 173px #ffffff,
			1732px 143px #d5dedf,
			1745px 454px #ecdcd7,
			234px 784px #eef6f7,
			1793px 1123px #e0dbd3,
			1076px 504px #eef6f7,
			633px 601px #dfd5d2,
			350px 630px #c70039,
			1164px 782px #eef6f7,
			76px 690px #eef6f7,
			1825px 701px #fff,
			1646px 578px #c70039,
			544px 293px #fff,
			445px 1061px #c70039,
			928px 47px #eef6f7,
			168px 1410px #c70039,
			777px 782px #dfd5d2,
			1235px 1941px #dfd5d2,
			104px 1690px #c70039,
			1167px 1338px #e91e63,
			345px 1652px #e0dbd3,
			1682px 1196px #f44336,
			1995px 494px #c70039,
			428px 798px #c70039,
			340px 1623px #f44336,
			605px 349px #dfd5d2,
			1339px 1344px #c70039,
			1102px 1745px #eef6f7,
			1592px 1676px #fff,
			419px 1024px #fff,
			630px 1033px #c70039,
			1995px 1644px #eef6f7,
			1092px 712px #dfd5d2,
			1355px 606px #f44336,
			622px 1881px #fff,
			1481px 621px #9e9e9e,
			19px 1348px #c70039,
			864px 1780px #e91e63,
			442px 1136px #fff,
			67px 712px #c70039,
			89px 1406px #f44336,
			275px 321px #e0dbd3,
			592px 630px #e91e63,
			1012px 1690px #dfd5d2,
			1749px 23px #c70039,
			94px 1542px #c70039,
			1201px 1657px #eef6f7,
			1505px 692px #fff,
			1799px 601px #eef6f7,
			656px 811px #eef6f7,
			701px 597px #eef6f7,
			1202px 46px #c70039,
			890px 569px #c70039,
			1613px 813px #fff,
			223px 252px #fff,
			983px 1093px #f44336,
			726px 1029px #ffffff,
			1764px 778px #fff,
			622px 1643px #f44336,
			174px 1559px #c70039,
			212px 517px #eef6f7,
			340px 505px #fff,
			1700px 39px #fff,
			1768px 516px #f44336,
			849px 391px #fff,
			228px 1824px #fff,
			1119px 1680px #ffffff,
			812px 1480px #eef6f7,
			1438px 1585px #fff,
			137px 1397px #fff,
			1080px 456px #c70039,
			1208px 1437px #eef6f7,
			857px 281px #f44336,
			1254px 1306px #fff,
			987px 990px #c70039,
			1655px 911px #eef6f7,
			1102px 1216px #c70039,
			1807px 1044px #fff,
			660px 435px #eef6f7,
			299px 678px #c70039,
			1193px 115px #fff,
			918px 290px #fff,
			1447px 1422px #c70039,
			91px 1273px #dfd5d2,
			108px 223px #c70039,
			146px 754px #eef6f7,
			461px 1446px #c70039,
			1004px 391px #c70039,
			1529px 516px #f44336,
			1206px 845px #fff,
			347px 583px #e0dbd3,
			1102px 1332px #f44336,
			709px 1756px #eef6f7,
			1972px 248px #fff,
			1669px 1344px #c70039,
			1132px 406px #f44336,
			320px 1076px #fff,
			126px 943px #c70039,
			263px 604px #c70039,
			1546px 692px #f44336;
		animation: animStar 80s linear infinite;
	}
	@keyframes animStar {
		0% {
			transform: translateY(0px);
		}
		100% {
			transform: translateY(-2000px);
		}
	}
</style>
