---
import '@fontsource/monoton'
import NavItem from './NavItem.astro'
const NavLinks = [
	{
		title: 'INICIO',
		href: '/'
	},
	{
		title: 'YO',
		href: '/quiensoy'
	},
	{
		title: 'BLOG',
		href: '/blog'
	},
	{
		title: 'PORTAFOLIO',
		href: '/portafolio'
	}
]
import navLogo from '/public/img/nav-logo.svg'
import logo from '/public/img/logo.svg'
import { Picture } from 'astro:assets'
import Search from '@components/Search.astro'
---

<!--Navigator-fullscreen-->
<div
	id="navigation-content"
	class="fixed z-40 flex h-screen w-full translate-y-[-200%] flex-col items-center justify-center border-b bg-[#020202] bg-opacity-95 transition-transform duration-1000 ease-in-out"
>
	<div class="">
		<a title="logo" href="/">
			<img
				class="absolute left-[2.5%] top-[3%] z-[2] block h-20 cursor-pointer opacity-80 transition-all duration-300 ease-in-out hover:-rotate-45 hover:opacity-100"
				title="logo"
				src={navLogo.src}
				alt="logo"
			/>
		</a>
	</div>
	<div
		class="duration-in-out absolute right-[4%] top-[6%] cursor-pointer p-2.5 opacity-80 transition-[all.3s] hover:rotate-90 hover:opacity-100"
		id="navigation-close"
	>
		<span
			class="m-1 block h-0.5 w-[35px] rotate-45 cursor-pointer rounded-[20px] bg-[whitesmoke] p-px"
		></span>
		<span
			class="m-1 block h-0.5 w-[35px] -rotate-45 cursor-pointer rounded-[20px] bg-[whitesmoke] p-px"
		></span>
	</div>

	<ul class="flex flex-col items-center justify-center gap-4">
		{NavLinks.map((link) => <NavItem {...link} />)}
	</ul>
</div>
<!--Navigator-Fullscreen END-->
<nav class="fixed z-[3] h-[100px] w-full overflow-hidden bg-transparent p-2.5">
	<Picture
		class="absolute left-[2.5%] top-[15%] h-20 opacity-80 transition-all duration-300 ease-in-out hover:-rotate-45 hover:opacity-100"
		title="logo"
		loading="lazy"
		src={logo}
		alt="logo"
	/>
	<div
		class="group absolute right-[4%] top-[40%] cursor-pointer opacity-80 transition-all duration-1000 ease-in-out hover:opacity-100"
		id="menubar"
	>
		<span
			class="relative m-1.5 block h-0.5 w-[35px] rounded-[20px] bg-transparent before:absolute before:right-0 before:top-0 before:h-full before:w-6/12 before:bg-[whitesmoke] before:transition-all before:duration-[0.3s] before:ease-in-out before:content-[''] group-hover:before:w-full"
		></span>
		<span
			class="relative m-1.5 block h-0.5 w-[35px] rounded-[20px] bg-transparent before:absolute before:right-0 before:top-0 before:h-full before:w-9/12 before:bg-[whitesmoke] before:transition-all before:duration-[0.3s] before:ease-in-out before:content-[''] group-hover:before:w-full"
		></span>
		<span
			class="relative m-1.5 block h-0.5 w-[35px] rounded-[20px] bg-transparent before:absolute before:right-0 before:top-0 before:h-full before:w-full before:bg-[whitesmoke] before:transition-all before:duration-[0.3s] before:ease-in-out before:content-[''] group-hover:before:w-full"
		></span>
		<span class="sr-only">Show Menu</span>
	</div>
	<div class="absolute right-[15%] top-[40%] flex md:right-[8%]">
		<Search />
	</div>
</nav>

<script>
	const menubar: HTMLElement = document.querySelector('#menubar') as HTMLElement
	const navigationContent: HTMLElement = document.querySelector(
		'#navigation-content'
	) as HTMLElement
	const navigationClose: HTMLElement = document.querySelector('#navigation-close') as HTMLElement
	if (window.onload) {
		window.onload = () => {
			navigationContent.style.transform = 'translateY(-100%)'
		}
	}
	function openNavigation() {
		navigationContent.style.transform = 'translateY(0)'
	}

	function closeNavigation() {
		navigationContent.style.transform = 'translateY(-100%)'
	}

	menubar.addEventListener('click', openNavigation)
	navigationClose.addEventListener('click', closeNavigation)
</script>
