---
---
<!--about-->
        <div id="about">
            <!--about content-->
            <div id="about-content">
                <div class="about-header">
                    Sobre <span class="color">Mi</span>
                    <span class ="header-caption">Conoce <span class="color"> Me.</span></span>
                </div>
                <div class="about-main">
            <div class="about-first-paragraph wow">
            <!--about description-->
               <span class="about-first-line">
                    Soy un
                    <span class="color">Pionero</span>
                    En la tendencia de el Marketing 5.0 en Republica Dominicana </span>
                     <br>
               <span class="about-second-line">Con mas 2 años de experiencia en el área de marketing. 
                Me considero un apasionado en el aprendizaje entorno al área de productos o servicios y satisfacer las necesidades de los clientes.</span>
               <div class="cv">
                <a title="Cv-Link" href="cv/CV.-Steve-Moya-Cepeda.pdf" target="_blank"><button>Descarga Mi <span class="colors">CV</span></button></a>
            </div>
            </div>
            <!--about picture-->
            <div class="about-img">
                <img title="Steve-Moya-Cepeda" loading="lazy" src="/img/Yo.webp" alt="Steve-Moya-Cepeda">
            </div>
            </div>
    
            </div>
            <!--services start-->
            <div id="services">
                
            <!--services header-->
                    <div class="services-heading wow">
                        <span class="color">Mis</span> Conocimientos
                    </div>
            <!--services header end-->
            <!--services content-->
                    <div class="services-content">
                           <div class="service-one service wow">
                               <div class="service-img">
                               <img title="Diseño-Web" loading="lazy" src="/img/coding.svg" alt="Diseño-Web">
                               </div>
                               <div class="service-description">
                                <h2>Diseño Web</h2>
                                <p>Habilidades en la creación de diseños web atractivos.</p>
                               </div>
                           </div>
                           <div class="service-two service wow">
                               <div class="service-img">
                               <img title="Social-Media" loading="lazy" src="/img/socialmedia.svg" alt="Social-Media">
                               </div>
                               <div class="service-description">
                                <h2>Social Media</h2>
                                <p>Habilidades para la gestión de comunidades para mejorar el compromiso de los clientes.</p>
                               </div>
                           </div>
                           <div class="service-three service wow">
                            <div class="service-img">
                               <img title="Diseño-Creativo" loading="lazy" src="/img/creative.svg" alt="Diseño-Creativo">
                            </div>
                            <div class="service-description">
                                <h2>Diseño Creativo</h2>
                                <p>Habilidades en la creación de diseños atractivos para la comunicación visual.</p>
                            </div>
                        </div>
                    </div>
            </div>
            <!--services content end-->
            <!--services end-->
            <div id="skills">
                <div class="skills-header">
                     Mis <span class="color"> Hablilidades</span>
                </div>
                <div class="skills-content " style="text-align: center;">
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        HTML/CSS
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="html-progress wow">95%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                      Google Analytics
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="js-progress wow">90%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Social Media
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="adobe-progress wow">83%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Adobe Creative Cloud
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="php-progress wow">87%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Microsoft Office
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="jquery-progress wow">94%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        SEO
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="seo-progress wow">84%</div>
                    </div>
                    </div>
                </div>
            </div>
    <!--copyright-section You Can Remove After Downloading-->
            <div class="footer">
             <div class="footer-text">
                 <p>© Steve Moya Cepeda</p> 
             </div>
            </div>
    <!--copyright-section-->
        </div>
        <!--about end-->