---
import { Icon } from "astro-icon/components";
interface Props {
    name: string;
}
const { name } = Astro.props;
---


<div class="flex items-center space-x-2">
	<Icon name={name} class="text-muted-foreground h-5 w-5" />
	<span class="text-muted-foreground text-sm">
        <slot />
    </span>
</div>
