---
import { getTags, getPostByTag, formatDate } from '@src/utils'
import Layout from '@layouts/Layout.astro'
import PostCard from '@components/PostCard.astro'
import Header from '@components/Header.astro'


export async function getStaticPaths() {
	const tags = await getTags()

	return tags.map((tag: string) => ({
		params: { tag },
		props: { tag }
	}))
}

const { tag } = Astro.props

const posts = await getPostByTag(tag as string)

---

<Layout title={tag as string}>
	<Header title="Articulos de" titleCaption={tag} description='Aqui puedes ver mis articulos de' descriptionCaption={tag}  />
	<section class="mx-auto my-8 max-w-[1200px] px-4 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
		{
			posts.map((post) => (
				<PostCard {...post} />
			))
		}
	</section>
</Layout>
