---
---
<div id="blog">
            
        <div class="blog-header">Mi Blog</span>
            <span class ="header-caption"> Mis Anteriores <span class="color"> posteos de blog.</span></span></div>
            <div class="blog-content">
                 <div class="blogs">
                     <a title="blog-link" href="#">
                     <div class="img">
                        <img title="Marketing-5.0" loading="lazy" src="/img/marketing5.0.webp" alt="Marketing-5.0">
                        <div class="blog-date">Proxi.</div>
                     </div>
                     <div class="blog-text">
                         <h3>El Marketing 5.0</h3>
                         <p>Todavia Trabajando en el blog</p>
                     </div></a>
                 </div>      
                 <div class="blogs">
                    <a title="blog-link" href="#">
                    <div class="img">
                       <img title="22-Leyes-Marketing" loading="lazy" src="/img/22leyes.webp" alt="Las-22-Leyes-inmutables-del-marketing"> 
                       <div class="blog-date">16 Jan,20</div>
                    </div>
                    <div class="blog-text">
                        <h3>Las 22 leyes del Marketing</h3>
                        <p>Todavia Trabajando en el blog</p>
                    </div></a>
                </div>      
                <div class="blogs">
                    <a title="blog-link" href="#">
                    <div class="img">
                       <img title="marketing-4.0" loading="lazy" src="/img/marketing4.0-v.webp" alt="marketing-4.0">
                        <div class="blog-date">Proxi.</div>
                    </div>
                    <div class="blog-text">
                        <h3>Marketing 4.0</h3>
                        <p>Todavia Trabajando en el blog</p>
                    </div></a>
                </div>
                <div class="blogs">
                    <a title="blog-link" href="#">
                    <div class="img">
                        <img title="El-Café" loading="lazy" src="/img/post-three.webp" alt="Café">
                        <div class="blog-date">Proxi.</div>
                    </div>
                    <div class="blog-text">
                        <h3>El Café </h3>
                        <p>Todavia Trabajando en el blog</p>
                    </div></a>
                </div>  
                <div class="blogs">
                    <a title="blog-link" href="#">
                    <div class="img">
                        <img title="Trabajo-desde-casa" loading="lazy" src="/img/post-five.webp" alt="Trabajo-desde-casa">
                        <div class="blog-date">1 Jun,19</div>
                    </div>
                    <div class="blog-text">
                        <h3>El trabajo desde Casa</h3>
                        <p>Todavia Trabajando en el blog</p>
                    </div></a>
                </div>  
                <div class="blogs">
                    <a title="blog-link" href="#">
                    <div class="img">
                        <img title="Mejoras-de-Negocios" loading="lazy" src="/img/post-six.webp" alt="Mejoras-de-Negocios">
                        <div class="blog-date">28 Feb,19</div>
                    </div>
                    <div class="blog-text">
                        <h3>Mejoras de negocio</h3>
                        <p>Todavia Trabajando en el blog</p>
                    </div></a>
                </div>
                <div class="blogs">
                    <a title="blog-link" href="#">
                    <div class="img">
                        <img title="Proximamente" loading="lazy" src="/img/post-six.webp" alt="Proximamente">
                        <div class="blog-date">** *,**</div>
                    </div>
                    <div class="blog-text">
                        <h3>Proximamente</h3>
                        <p>Todavia Trabajando en el blog</p>
                    </div></a>
                </div>
            </div>
               <!--copyright-section You Can Remove After Downloading-->
               <div class="footer">
                <div class="footer-text">
                    <p>© Steve Moya Cepeda</p>
                </div>
               </div>
       <!--copyright-section-->
        </div>