---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1> Hola soy Steve!</h1>
			<p>
				Descripcion
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem laudantium rerum dolorem non est impedit distinctio nesciunt, ullam similique, quis error, mollitia tempora numquam voluptates magni labore sed quos vel?
			</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, nostrum!</p>
			
			
			
		</main>
		<Footer />
	</body>
</html>
