---
import { getPosts } from '@utils/index'
import { siteConfig } from '@src/data/config'
import Pagination from '@components/Pagination.astro'
import ListCategories from '@components/ListCategories.astro'
import Layout from '@layouts/Layout.astro'
import Header from '@components/Header.astro'
import PostCard from '@components/PostCard.astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
	post: CollectionEntry<'blog'>
	page: {
		data: CollectionEntry<'blog'>[]
		currentPage: number
		lastPage: number
	}
}
export async function getStaticPaths({ paginate }: any) {
	const allPosts = await getPosts()

	return paginate(allPosts, {
		params: { page: '1' },
		pageSize: siteConfig.paginationSize
	})
}

const { page } = Astro.props
---

<Layout title="Todos los Articulos">
	<Header
		title="Todos los"
		titleCaption="Articulos"
		description="Aquí encontrarás todos los"
		descriptionCaption="Articulos"
	/>
	<ListCategories />
	<section class="mx-auto my-8 max-w-[1200px] px-4">
		{
			page.currentPage === 1 ? (
				<div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
					{page.data.length > 0 && <PostCard {...page.data[0]} isFeatured={true} />}
					{page.data.slice(1).map((post) => (
						<PostCard {...post} />
					))}
				</div>
			) : (
				<div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
					{page.data.map((post) => (
						<PostCard {...post} />
					))}
				</div>
			)
		}
		<div class="mt-12">
			<Pagination page={page} />
		</div>
	</section>
</Layout>
