---
import Header from '@components/Header.astro'
import InfoItems from './InfoItems.astro'
import Button from '@components/ui/Button.astro'
import Input from '@components/ui/Input.astro'

const contactInfoItems = [
	{
		icon: '/img/icon-name.svg',
		title: 'Mi Nombre',
		description: 'Steve Moya Cepeda'
	},
	{
		icon: '/img/location.svg',
		title: 'Ubicacion',
		description: 'Santo Domingo, Republica Dominicana'
	},
	{
		icon: '/img/call.svg',
		title: 'Mi Numero',
		description: '+1 (849) 751-1849'
	},
	{
		icon: '/img/@.svg',
		title: 'Mi Email',
		description: 'steevnmc201666@gmail.com'
	}
]
import { getImage } from 'astro:assets'
import background from "/public/img/contact-back.webp"
const optimizedBackground = await getImage({src: background, format: 'webp'});
---

<Header title="Contacta" titleCaption="Me" description="Escribe" descriptionCaption="Me" />

<section
	class="m-auto flex h-auto flex-col items-center justify-center px-4 md:flex-row"
>
	<!--Contact form-->
	<div class="flex h-[550px] w-full flex-col">
		<div class="form-header p-7 text-center text-2xl font-normal">Enviame un mensaje</div>
		<form
			class="flex h-auto w-auto flex-col items-center"
			id="myForm"
			action="https://formsubmit.co/stevenmc2015@hotmail.com"
			method="POST"
			target="_blank"
		>
			<div class="flex h-auto w-full flex-row items-center justify-center">
				<Input name="name" id="name" placeholder="Nombre" />
				<Input name="email" id="email" type="email" placeholder="E-mail" />
			</div>
			<Input id="subject" type="email" placeholder="Asunto" class="m-6 w-[84%]" />
			<Input name="message" id="body" type="textarea" placeholder="Mensaje" />
			<Button type="submit" variant="primary" value="Enviar">Enviar</Button>
		</form>
	</div>
	<!--Contact form-->
	<!--Contact information-->
	<div
		class="relative mb-[50px] h-[500px] w-full max-w-[600px] overflow-hidden rounded-2xl bg-cover bg-center bg-no-repeat
		before:pointer-events-none
		before:absolute
		before:left-0
		before:top-0
		before:h-full
		before:w-full
		before:bg-[#101010]
		before:opacity-80
		before:content-['']"
		style={`background-image: url(${optimizedBackground.src});`}
	>
		<div class="contact-info-header relative z-[2] p-[30px] text-center text-2xl font-normal">
			Informacion de Contacto
		</div>
		<div class="contact-info-content">
			{contactInfoItems.map((item) => <InfoItems {...item} />)}
		</div>
		<!--Contact information end-->
	</div>
</section>
