---
---
<div id="contact">
         <div class="contact-header">Contacta <span class="color"> Me</span>
        <div class="contact-header-caption"> <span class="color"> Escribe</span> Me.</div></div>
        <div class="contact-content">
            <!--Contact form-->
             <div class="contact-form">
                 <div class="form-header">
                     Enviame un mensaje
                 </div>
                 <form id="myForm" action="https://formsubmit.co/stevenmc2015@hotmail.com" method="POST" target="_blank">
                    <div class="input-line">
                        <input name="name"  id="name" type="text" placeholder="Nombre" class="input-name">
                        <input name="email" id="email" type="email" placeholder="E-mail"  class="input-name">
                    </div>
                    <input type="text" id="subject" placeholder="Asunto" class="input-subject">
                    <textarea name="message" id ="body" class="input-textarea" placeholder="Mensaje"></textarea>
                    <button class="btn" type="submit" id ="submit" value="Enviar">Enviar</button>
                    
                 </form>
               
             </div>
            <!--Contact form-->
            <!--Contact information-->
             <div class="contact-info">
                <div class="contact-info-header">
                    Informacion de Contacto
                </div>
                <div class="contact-info-content">
                <div class="contect-info-content-line">
                    <img title="name-icon" loading="lazy" src=/img/icon-name.svg" class="icon" alt="name-icon">
                    <div class="contact-info-icon-text">
                        <h4>Mi Nombre</h4>
                        <p>Steve Moya Cepeda</p>
                  </div>
                </div>
                <div class="contect-info-content-line">
                  <img title="location-icon" loading="lazy" src="/img/location.svg" class="icon" alt="location-icon">
                  <div class="contact-info-icon-text">
                      <h4>Ubicacion</h4>
                      <p>Santo Domingo, Republica Dominicana</p>
                </div>
              </div>
              <div class="contect-info-content-line">
                  <img title="call-icon" loading="lazy" src=/img/call.svg" class="icon" alt="phone-icon">
                  <div class="contact-info-icon-text">
                      <h4>Mi Numero</h4>
                      <p>+1 (849) 751-1849</p>
                </div>
              </div>
              
              <div class="contect-info-content-line">
                  <img title="email-icon" loading="lazy" src=/img/@.svg" class="icon" alt="email-icon">
                  <div class="contact-info-icon-text">
                      <h4>Mi Email</h4>
                      <p>Stevenmc2015@hotmail.com</p>
                </div>
              </div>
                </div>
            <!--Contact information end-->
           </div>
        </div>
                    <!--copyright-section-->
                    <div class="footer">
                        <div class="footer-text">
                            <p>© Steve Moya Cepeda</p>
                        </div>
                       </div>
               <!--copyright-section-->
     </div>