---
---
<!--Navigator-fullscreen-->
<div id="navigation-content">
            <div class="logo">
                <a title="logo" href="#">
                <img title="logo" src="images/nav-logo.svg" alt="logo" >
            </a>
            </div>
            <div class="navigation-close">
                <span class="close-first"></span>
                <span class="close-second"></span>
            </div>
            <div class="navigation-links">
                <a title="Inicio" href="#" data-text="INICIO" id="home-link" >INICIO</a>
                <a title="Sobre Mi" href="#" data-text="YO" id="about-link" >SOBRE MI</a>
                <a title="Blog" href="#" data-text="BLOG" id="blog-link" >BLOG</a>
                <a title="Portafolio" href="#" data-text="PORTAFOLIO" id="portfolio-link" >PORTAFOLIO</a>
                <a title="Contacto" href="#" data-text="CONTACTO" id="contact-link" >CONTACTO</a>
            </div>
        </div>
        <!--Navigator-fullscreen End-->
        
        <!--Menubar-->
        <div id="navigation-bar">
            <img title="logo" loading="lazy" src="images/logo.svg" alt="logo">
            <div class="menubar">
                <span class="first-span"></span>
                <span class="second-span"></span>
                <span class="third-span"></span>
            </div>
        </div>
        <!--Menubar End-->