---
import { cn, sluglify } from '@src/utils'

const { name = 'Ver todos los blogs', activeCategory } = Astro.props
const currentPath = Astro.url.pathname
const unsluglifyNameCategory = sluglify(name.toLowerCase())

const isActive =
	activeCategory?.toLocaleLowerCase() === unsluglifyNameCategory ||
	(currentPath === '/blog/todos-los-blogs/1' && name === 'Ver todos los blogs')
---

<a
	href={name === 'Ver todos los blogs'
		? '/blog/todos-los-blogs/1'
		: sluglify(`/blog/category/${unsluglifyNameCategory}/1`)}
	class={cn(
		`w-fit rounded-full border border-white/10 bg-transparent px-4 py-1.5 text-sm font-medium text-gray-400 transition-all duration-300 md:px-6 md:py-2 hover:border-white/30 hover:text-white hover:bg-white/5`,
		isActive &&
			`border-white/20 bg-white text-black font-semibold shadow-[0_0_15px_rgba(255,255,255,0.1)] hover:bg-white hover:text-black hover:border-white`
	)}>
	{name}
</a>
