---
interface Props {
	title: string
	titleCaption: string
	description?: string
	descriptionCaption?: string
}

const { title, titleCaption, description, descriptionCaption } = Astro.props
---

<header
	class="h-auto w-full items-center justify-center p-1 pb-7 pt-4 text-center font-raleway text-[45px] font-black max-md:mt-16"
>
	<h1>
		{title}
		<span class="font-extrabold text-[#c70039]"
			>{titleCaption}</span
		>
	</h1>
	<h2 class=" block p-2 pt-2 text-[25px] font-normal">
		{description}
		<span class="font-extrabold text-[#c70039]">
			{descriptionCaption}</span
		>
	</h2>
</header>
