---
import { siteConfig } from "@src/data/config"

import {Icon} from "astro-icon/components"

const message = siteConfig.shareMessage

const URL = Astro.url.href
---

<div class='flex flex-col gap-2'>
	<span class='mb-1 font-bold text-2xl'>Compatir</span>
	<ul class='flex gap-2 text-white text-2xl'>
		<li>
			<a
				href={`https://www.linkedin.com/shareArticle?mini=true&url=${URL}`}
				aria-label='Compartir en LinkedIn'
			>
			<Icon name="mdi:linkedin" />
		</li>
		<li>
			<a
				href={`https://www.facebook.com/sharer/sharer.php?u=${URL}`}
				aria-label='Compartir en Facebook'
			>
			<Icon name="mdi:facebook" />
		</li>
		<li>
			<a
				href={`https://wa.me/?text=${message + ' ' + URL}`}
				aria-label='Compartir en WhatsApp'
			>
			<Icon name="mdi:whatsapp" />
		</li>
	</ul>
</div>
