---
import { cn } from '@src/utils'

const { heading } = Astro.props

type Heading = {
	depth: number
	text: string
	slug: string
	subheadings: Heading[]
}

export interface Props {
	heading: Heading
}
---

<li class="flex flex-col">
	<a
		href={'#' + heading.slug}
		class={cn(
			`text-gray-500 border-transparent hover:text-white transition-all duration-200 py-1.5 -ml-[2px] border-l-[2px] hover:border-white/30 line-clamp-2`,
			heading.depth > 2 ? 'pl-8 text-xs' : 'pl-4 text-sm'
		)}
	>
		{heading.text}
	</a>
	{
		heading.subheadings.length > 0 && (
			<ul class="flex flex-col">
				{heading.subheadings.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>
