---
import { cn } from '@src/utils'

const { heading } = Astro.props

type Heading = {
	depth: number
	text: string
	slug: string
	subheadings: Heading[]
}

export interface Props {
	heading: Heading
}
---

<li class="flex flex-col">
	<a
		href={'#' + heading.slug}
		class={cn(
			`group relative text-gray-500 border-transparent`,
			`hover:text-white hover:bg-white/[0.04] hover:border-white/20`,
			`transition-all duration-200`,
			`py-1.5 -ml-[2px] border-l-[2px]`,
			`rounded-r-md`,
			heading.depth > 2 ? 'pl-8 text-xs opacity-75' : 'pl-4 text-sm',
			`line-clamp-2`
		)}
	>
		{heading.text}
	</a>
	{
		heading.subheadings.length > 0 && (
			<ul class="flex flex-col">
				{heading.subheadings.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>
