---
import Header from '@components/Header.astro'

import PostCard from '@components/PostCard.astro'
import { getCollection } from 'astro:content'



const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<Header
	title="Mi"
	titleCaption="Blog"
	description="Hecha un vistaso a"
	descriptionCaption="Mis Articulos"
/>
<section class="mx-auto my-8 max-w-[1200px] px-4 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
	{
		posts.map((post) => (
			<PostCard {...post} />
		))
	}
</section>
