---

---
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve Moya - Personal Portfolio Web</title>
  <!--favicon-img--> 
   <link title="logo" rel="icon" type="image/png" href="/img/logo.svg">
   <link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon">
   
    <meta name="description" content="Steve Moya - Personal Web Personal, Este es mi portafolio con mucho amor y dedicacion.Hecho por un marketero amante a la tecnologia" />
	<meta name="keywords" content="blog, Steve Moya Cepeda, Marketer, Steve  Moya, creative, creative portfolio, cv, portafolio, professional cv, responsive portafolio," />
	<meta name="author" content="Steve Moya Cepeda" />
    <meta property="og:title" content="Steve Moya - Personal Web Personal, Este es mi portafolio con mucho amor y dedicacion" />
    <meta name="robots" content="index, nosnippet" />
    <meta property="og:type" content="website" />