---
import Card from '@components/ui/Card.astro'

import marketingfoto from '@/assets/img/marketing.webp'
import fotografiafoto from '@/assets/img/fotografia.webp'
import webfoto from '@/assets/img/web.webp'
import diseñofoto from '@/assets/img/diseño.webp'

const portafolios = [
	{
		title: 'Marketing',
		img: marketingfoto,
		description: 'Aqui todas mis estrategias de marketing y proyectos realizados',
		href: '/blog/category/marketing/1'
	},
	{
		title: 'Fotografía',
		img: fotografiafoto,
		description: 'Aqui todas mis sesiones de fotos y proyectos fotográficos',
		href: '/portafolio/fotografia'
	},
	{
		title: 'Web',
		img: webfoto,
		description: 'Aqui todas mis páginas web',
		href: '/portafolio/webs'
	},
	{
		title: 'Diseño Gráfico',
		img: diseñofoto,
		description: 'Aqui todos mis diseños gráficos donde deje libre mi creatividad',
		href: '/portafolio/diseno'
	}
]
---

<section class="flex h-auto w-full flex-col justify-center overflow-hidden">
	{
		portafolios.map((portafolio) => (
			<Card
				type="portafolio"
			{...portafolio}
			/>
		))
	}
</section>
