---
import Card from '@components/ui/Card.astro'

const portafolios = [
	{
		title: 'Marketing',
		img: '/img/marketing.webp',
		description: 'Aqui todas mis estrategias de marketing y proyectos realizados',
		href: '/blog/category/marketing/1'
	},
	{
		title: 'Fotografía',
		img: '/img/Fotografia.webp',
		description: 'Puedes darle un vistazo pero todavia estoy Trabajando en ello',
		href: '/portafolio/fotografia'
	},
	{
		title: 'Web',
		img: '/img/web.webp',
		description: 'Puedes darle un vistazo pero todavia estoy Trabajando en ello',
		href: '/portafolio/webs'
	},
	{
		title: 'Diseño Gráfico',
		img: '/img/diseño.webp',
		description: 'Todavia Trabajando en ello',
		href: '/portafolio/diseno'
	}
]
---

<section class="flex h-auto w-full flex-col justify-center overflow-hidden">
	{portafolios.map((portafolio) => <Card type="portafolio" {...portafolio} />)}
</section>
