---
const today = new Date()
---

<footer
	class="footer flex w-full flex-row items-center justify-center bg-[#080808]
    p-5 "
>
	<div class="footer-text relative inline text-lg font-normal opacity-100">
		<p>&copy; Steve Moya Cepeda - {today.getFullYear()}</p>
	</div>
</footer>
